node_modules/
config.json
config_prod.json
backups/
logs/
desktop.ini
data/browniePoints.json
data/guildData.json
data/guildTags.json
data/statsData.json
data/updateRequests.json
data/filePathSounds.json
data/creatureSounds.json
data/categorySounds.json
data/newCreatureSounds.json
data/allSounds.json
data/creatureSounds.json
data/sounds.json
data/guildTagsOld.json
src/slash_commands/joinAyy.js